.opening {
    @media $small-desktop-min {
        background: url('../images/banner.jpg') no-repeat center center / cover;
    }

    .center-content {
        @media $small-desktop-min {
            min-height: 482px;
        }
    }
}

.digital-world {
    .center-content {
        @media $small-desktop-min {
            padding-top: 160px;
            padding-bottom: 130px;    
        }
    }    
}